[submodule "renderer"]
	path = renderer
	url = https://github.com/electron-template/electron-separation-template-renderer.git
	branch = main
[submodule "server"]
	path = server
	url = https://github.com/electron-template/electron-separation-template-server.git
	branch = main
